

@media(max-width: 767px){
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
    }
    .home-section .home-text{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .excel-img{
        left: 85%;
    }
    .powerbi-img{
        left: 85%;
    }
    .python-img{
        left: 86%;
    }
    #main{
        margin-left: -95px;
        
    }
}

@media(max-width: 574px){
    .home-section .home-img .img-box{
        max-width: 260px;
    }
    .home-section .home-text h2{
        font-size: 40px;
    }
}